<h1>hola chicka</h1>
<% @recipes.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>">
    <li><%= recipe.name %></li>
  </a>
<% end %>
<!--Recipe App
  Index page '/recipes'
    responds with a 200 status code (FAILED - 1)
    displays a list of recipes (FAILED - 2)
    contains links to each recipe's show page (FAILED - 3)
  show page '/recipes/:id'
    responds with a 200 status code (FAILED - 4)
    displays the recipe's name (FAILED - 5)
    displays the recipe's ingredients (FAILED - 6)
    displays the recipe's cook time (FAILED - 7)
    contains a form to delete the recipe (FAILED - 8)
    deletes via a DELETE request (FAILED - 9)
  edit page '/recipes/:id/edit'
    responds with a 200 status code (FAILED - 10)
    contains a form to edit the recipe (FAILED - 11)
    displays the recipe's ingredients before editing (FAILED - 12)
    submits via a patch request (FAILED - 13)
  new page '/recipes/new'
    responds with a 200 status code (FAILED - 14)
    contains a form to create the recipe (FAILED - 15)
    posts the form back to create a new recipe (FAILED - 16)
  creating a new recipe
    creates a new recipe and saves to the database (FAILED - 17)
    redirects to the recipe show page (FAILED - 18)
  updating a recipe
    updates the recipe (FAILED - 19)
    redirects to the recipe show page (FAILED - 20)
  deleting a recipe
    deletes a recipe (FAILED - 21)>
