<h1>Add a new recipe!</h1>
<form action="/recipes" method="post">

  <p>Name:
    <input type="text" name="name" id="name"><br/>
  <p>Ingredients:
    <input type="text" name="ingredients" id="ingredients"><br/>
  <p>Cook Time (in mins):
    <input type="text" name="cook_time" id="cook_time" placeholder="X minutes"></p>

  <p><button type="submit">Submit</button></p>

</form>
