<form method="POST" action="/recipes">
  <label>Name: <input type="text" id="name" name="attr[name]">
  <label>Ingredients: <input type="text" id="ingredients" name="attr[ingredients]">
  <label>Cook time: <input type="text" id="cook_time" name="attr[cook_time]">

  <input type="submit" id="Submit" value="Submit">
</form>