<h1>Recipes Just Like Grandma</h1>

<form action="/articles" method="post">

  <label>Recipe name:</label><input type="text" name="name">
  <label>Ingredients:</label><input type="text" name="ingredients">
  <label>Cook time:</label><input type="number" name="cook_time">

  <input type="submit" name="Save">

</form>
